#grad1 {
    height: 200px;
    background-color: rebeccapurple;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(pink, skyblue);
  }

  .menu ul {
    list-style-type: none;
    padding: 6px;
    overflow: hidden;
    background-color: green;
  }

  .menu li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }

  li a:hover {
    background-color: blue;
  }

  .gallery-container{
    width: 100%;
    margin: 0px 20px;
  }

  div.gallery {
    margin: 16px 1px;
    border: 2px solid #ccc;
    /* float: left; */
    width: 24%;
    display: inline-block;
  }

  div.gallery:hover {
    border: 2px gold;
  }

  div.gallery img {
    width: 100%;
    height: auto;
  }

  div.desc {
    padding: 25px;
    text-align: center;
  }  ol.c {
    list-style-type: upper-roman;
  }
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: pink;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: green;
  }
  